body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  header {
    margin: 0;
    padding: 0;
  }
  
  main {
    min-height: 80vh;
    padding: 0;
    margin: 0;
  }
  
  .card-img-top {
    width: 100%;
    height: 300px; 
    object-fit: contain; /* Ensure the image covers the assigned area without distortion */
    display: block; /* Ensure the image behaves as a block */
  }
  
  .rating span {
    margin: 0.1rem;
  }
  
  h3 {
    padding: 1rem 0;
  }
  
  .btn-rounded {
    border-radius: 50px; 
    padding: 10px 20px; 
  }
  
  .latest-products-heading {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  
  .img-fluid.fixed-size {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .img-fluid.fixed-size {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 576px) {
    .img-fluid.fixed-size {
      max-width: 100%;
      height: auto;
    }
  
    .latest-products-heading {
      font-size: 2rem;
    }
  }
  